*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    color: #5a5a5a;
    background-color: #ffffff;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    text-rendering: optimizeLegibility;
}

body{
    overflow-x: hidden;
}

/* ------------------------------------------------------------- */
/* ---------------------------ALL--------------------------------*/

.clearfix::after{
    content: " ";
    display: inline;
    clear: both;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

h1{
    font-weight: 400;
    font-size: 300%;
    word-spacing: 5px;
    line-height: 135%;
    color: white;
    padding-bottom: 20px;
}

.row{
    max-width: 1140px;
    margin: 0 auto;
    clear: both;
    /* padding-bottom: 50px; */
}

.p-long{
    text-align: center;
    color: #265077;
    width: 70%;
    margin-left: 15%;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 22px;
    line-height: 140%;
}

section{
    padding-top: 50px ;
}

h2{
    font-size: 200%;
    color: orange;
    text-align: center;
    font-weight: 700;
}

h2:after{
    content: " ";
    display: block;
    width: 180px;
    height: 3px;
    background-color: rgba(255, 166, 0, .4);
    margin: 5px auto;
}

h1, h2, h3{
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn{
    text-decoration: none;
    padding: 15px 30px;
    background-color: orange;
    border-radius: 25px;
    display: inline-block;
    width: 200px;
    text-align: center;
    color: white;
    font-weight: bold;
    transition: background-color 1s;
}

h3{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    color: white;
    font-size: 22px;
    background-color:  #265077;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 15px;
}

.small-icon{
    font-size: 120%;
    color: rgb(122, 182, 182);
    margin-right: 10px;
}

/* ------------------------------------------------------------- */
/* -----------------------------Sticky----------------------------*/
/* ------------------------------------------------------------- */

.sticky{
    background-color: rgba(2,33,64,.9);
    position: fixed;
    z-index: 900;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
}

.sticky .logo {
    width: 250px;
    margin-top: -50px;
    margin-bottom: -60px;
}

.sticky .main-nav{
    margin-top: 10px;
}

/* ------------------------------------------------------------- */
/* -----------------------------Mobile Icon----------------------------*/
/* ------------------------------------------------------------- */

.mobile-menu-icon{
    font-size: 250%;
    color: #5583ad;
    position: absolute;
    right: 20px;
    top: 50px;
    display: none;
    cursor: pointer;
}

.show-menu{
    display: block;
}

/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
/* ------------------------HEADER--------------------------------*/

header{
    background-image: linear-gradient(45deg, rgba(2,33,64, 0.8) 55%,rgba(45,95,93, 0.85)), url("../img/background4.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.logo{
    width: 350px;
    float: left;
    margin-left: 70px;
    margin-top: -50px;
}

.main-nav{
    float: right;
    margin-top: 50px;
    margin-right: 50px;
}

.main-nav li{
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}

.main-nav li a{
    text-decoration: none;
    color: white;
    font-size: 110%;
    font-weight: 700px;
    padding: 3px 0;
    transition: border-bottom .3s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 1.5px solid white;
}

.heading-main-box{
    width: 1140px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-45%, -55%);
}

.btn:hover,
.btn:active{
    background-color: tomato;
}

/* ------------------------------------------------------------- */
/* -----------------------ABOUT SECTION------------------------- */

.about-section{
    padding-bottom: 60px;
}

.about-picture{
    position: relative;
}

.about-picture img{
    width: 90%;
    border-radius: 20px;
    border: 4px solid #92bfe9;
    box-shadow: 0px 5px 15px 5px #022140;
    /* x-y-độ mờ-độ phóng rộng- màu */
}

.about-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, 100%);
    color: white;
    transition: all 0.7s;
    opacity: 0;
}

.about-picture:hover .about-title,
.about-picture:active .about-title{
    transform: translate(-60%, -50%);
    opacity: 1;
}

.about-picture:hover img,
.about-picture:active img{
    filter: brightness(55%) blur(2px);
}

/* ------------------------------------------------------------- */
/* ---------------------PRODUCT SECTION------------------------- */

.product-section{
    background-color: #daf0ef;
    padding-bottom: 60px;
}

.product-section h2{
    margin-bottom: 60px;
}

.product-box{
    width: 90%;
    background-color: rgb(250, 243, 170);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 3px 5px 10px #ad9999;
}

.product-box p{
    text-align: center;
    font-size: 250%;
    font-weight: 300;
    color: rgb(76, 89, 161);
}

.product-box span{
    font-size: 70%;
}

.product-box ul li{
    margin-left: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-box .btn{
    margin-left: 20%;
    margin-bottom: 30px;
}

/* ------------------------------------------------------------- */
/* ----------------------Testimonials section------------------- */

.testimonial-section{
    background-image: linear-gradient(45deg, rgba(2,33,64, 0.8) 55%,rgba(45,95,93, 0.85)), url(../img/background4.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 60px;
}

.testimonial-section h2{
    margin-bottom: 60px;
}

blockquote{
    position: relative;
    width: 95%;
    font-style: italic;
    line-height: 140%;
    color: white;
}

blockquote::before{
    content: '\201C';
    display: block;
    font-size: 500%;
    position: absolute;
    top: -10%;
    left: -5%;
}

cite{
    display: block;
    color: rgb(185, 165, 165);
    margin-top: 25px;
}

cite img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid #153b5e;
    vertical-align: middle;
    margin-right: 15px;
}

/* ------------------------------------------------------------- */
/* -----------------------SPONSERS SECTION---------------------- */

.sponsers-section{
    background-color: #92bfe9;
    padding-bottom: 60px;
}

.sponsers-section h2{
    margin-bottom: 60px;
}

.sponsers-showcase{
    margin-left: 8%;
}

.sponsers-showcase li{
    width: 30%;
    float: left;
    text-align: center;
    margin-bottom: 20px;
}

figcaption{
    font-weight: 900;
    font-size: 120%;
    color: #022140;
    cursor: pointer;
}

.logo-sponser{
    width: 140px;
    height: 140px;
    transition: transform .5s;
}

.sponsers-section li .logo-sponser:hover{
    transform: scale(1.2);
}

/* ------------------------------------------------------------- */
/* ----------------------CONTACT SECTION------------------------ */

.contact-section{
    background-image: linear-gradient(45deg, rgba(2,33,64, 0.8) 55%,rgba(45,95,93, 0.85)), url("../img/background4.jpeg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    padding-bottom: 60px;
}

.adress li{
    padding: 10px 0;
}

.adress{
    margin-bottom: 20px;
}

.fa-map-marker-alt,
.fa-envelope,
.fa-phone{
    color: rgb(46, 78, 175);
}

a.email{
    color: red;
}

.socical-icon li{
    display: inline-block;
    font-size: 220%;
    width: 18%;
    transition: all .5;
}

.socical-icon li:hover i,
.socical-icon li:active i{
    transform: scale(1.2);
    color: rgb(248, 245, 39);
}

form{
    background-color: rgba(0, 0, 0, .4);
    width: 65%;
    margin-left: 35%;
    padding: 20px 30px;
}

form .row{
    margin-bottom: 20px;
}

label{
    font-size: 140%;
    color: white;
}

input, 
textarea{
    outline: none;
    background-color: rgba(48, 40, 40, 0.904);
    color: white;
    padding: 10px;
    border: 1px solid rgba(172, 136, 136, 0.904);
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 80%;
    transition: all .3s;
}

input:focus,
textarea:focus{
    color: white;
    background-color: rgba(23, 60, 102, 0.4);
}

input:hover,
textarea:hover{
    background-color: rgba(23, 60, 102, 0.4);
}

input{
    height: 50px;
}

form .row:last-child{
    text-align: center;

}

textarea{
    height: 100px;
    resize: none;
}

input[type=submit]{
    font-weight: 700;
    font-size: 100%;
    border-radius: 5px;
    width: 70%;

}

/* ------------------------------------------------------------- */
/* ---------------------------FOOTER---------------------------- */

footer{
    background-color: #6d6a6a;
    color: white;
    text-align: center;
    padding: 15px 0;
}

/* ------------------------------------------------------------- */


